/* === 웹 폰트 정의 === */
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* === 전체 초기화 === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  
  cursor: pointer;
}

input {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* === landing page === */

/* === Header === */
header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 5px 0 rgba(250, 250, 250, 10);
}

.container {
  max-width: 1280px;
  margin: auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

h1 img {
  width: 124px;
  height: 38px;
}

.search-box {
  width: 400px;
  padding: 9px 22px;

  border: 2px solid #21BF48;
  border-radius: 40px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  border: none;
}

.search-box button {
  width: 28px;
  height: 28px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.cart-btn, .login-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

/* Banner */
.banner {
  height: 500px;
  margin-bottom: 40px;
  
  position: relative;
  overflow: hidden;
}

/* 배경 배너 이미지 */
.banner-slide img {
  width: 100%;
  height: 100%;
  opacity: 80%;
  object-fit: cover;
  display: block;
}

/* 버튼 레이어 */
.banner-inner {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  position: absolute;   /* 배너 위에 겹치도록 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  z-index: 2;
}

.banner-prev,
.banner-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  
  z-index: 3;
  
  cursor: pointer;
}

/* 위치 조정은 버튼의 margin이나 transform으로 */
.banner-prev {
  margin-left: 20px;
}

.banner-next {
  margin-right: 20px;
}

/* === Product Section === */
main {
  max-width: 1280px;
  margin: 80px auto;
  padding: 0 20px;
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 78px;
}

/* === Product Card === */
.product-card {
  background-color: #fff;
  border-radius: 12px;
  
  overflow: hidden;
  
  transition: transform 0.2s ease;
  
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-card img {
  width: 100%;
  height: auto;
  
  display: block;
}

/* === 텍스트 영역 === */
.brand {
  margin: 16px 0px 10px 0px;
}

.product-title {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  
  line-height: 1.4;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.product-price span {
  font-size: 15px;
  font-weight: 400;
  margin-left: 2px;
}

/* === login-page === */
/* 전체 정렬 및 배경 */
body {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 로고 */
.logo-wrap {
  margin-bottom: 70px;
}

.logo {
  width: 238px;
  height: auto;
}

/* 로그인 박스 */
.login-box {
  width: 550px;
  background-color: red;
  
  border: 1px solid #C4C4C4;
  border-top: none;
  border-radius: 10px;
  
  position: relative;
  text-align: center;
  
  overflow: hidden;
}

/* 탭 버튼 */
.tab {
  display: flex;
  justify-content: center;
}

.tab-btn {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  
  padding: 20px 0 18px;
  background-color: #f5f5f5;
  
  border: 1px solid #C4C4C4;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
  flex: 1;
  
  cursor: pointer;
}

.tab-btn:last-child {
  border-right: none;
  border-bottom: 1px solid #C4C4C4;
}

.tab-btn.active {
  color: #000;
  background-color: #fff;
  
  border-bottom: 1px solid #fff;
}

.tab-btn.disabled {
  background-color: #F2F2F2;
  color: #000;

  cursor: pointer;
}

/* 로그인 폼 */
.login-form {
  background-color: #fff;
  padding: 34px 35px 36px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  z-index: 5;
}

.login-form input {
  width: 100%;
  padding: 20px 0px;

  border: none;
  border-bottom: 1px solid #C4C4C4;
}

.login-btn {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #21BF48;
  margin-top: 36px;
  padding: 19px;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: 0.2s;
}

/* 하단 링크 */
.sub-links {
  font-size: 16px;
  margin-top: 30px;
}

.sub-links a, span {
  color: #333333;
  margin: 0 14px;
}

/* === Signup Page ===
/* 회원가입 박스 */
.signup-box {
  width: 550px;
  
  border: 1px solid #C4C4C4;
  border-top: none;
  border-radius: 10px;
  
  position: relative;
  text-align: center;
  
  overflow: hidden;
}

/* 탭 버튼 */
.signup-box .tab {
  display: flex;
  justify-content: center;
}

.signup-box .tab-btn {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  
  padding: 20px 0 18px;
  background-color: #f5f5f5;
  
  border: 1px solid #C4C4C4;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
  flex: 1;
  
  cursor: pointer;
}

.signup-box .tab-btn:last-child {
  border-right: none;
  border-bottom: 1px solid #C4C4C4;
}

.signup-box .tab-btn.active {
  color: #000;
  background-color: #fff;
  
  border-bottom: 1px solid #fff;
}

.signup-box .tab-btn.disabled {
  background-color: #F2F2F2;
  color: #000;

  cursor: pointer;
}

/* 폼 스타일 */
.signup-form {
  background-color: #fff;
  padding: 40px 35px 36px;

  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  margin-left: 0px;
  font-size: 16px;
  color: #767676;
}

.input-with-btn {
  display: flex;
  gap: 12px;
}

.input-with-btn input {
  flex: 1;
  padding: 16px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.check-btn {
  background-color: #21BF48;
  color: white;
  padding: 17px 32px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  width: 100%;
  padding: 16px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.valid-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.input-name {
  margin-top: 50px;
}

.input-name input {
  width: 100%;
  margin-top: 10px;
  padding: 16px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.phone-box {
  display: flex;
  gap: 8px;
}

.phone-box input {
  flex: 1;
  padding: 16px 0px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.phone-box select  {
  padding: 0px 54px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

/* 약관 동의 영역 */
.agreement {
  font-size: 16px;
  color: #767676;
  line-height: 1.5;

  max-width: 550px;
  padding: 0 35px;
  margin-top: 34px;
  margin-bottom: 110px;
}

.agreement input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  transform: scale(1.2);
}

.agreement a {
  font-weight: 700;
  color: #767676;
  text-decoration: underline;
}

.signup-btn {
  width: 100%;
  padding: 18px;
  background-color: #C4C4C4;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-top: 34px;
  cursor: not-allowed;
}